html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg,rgb(147, 224, 247),rgb(209, 212, 215)); /* Vivid blue gradient */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.app {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  width: 700px;
  max-width: 90%;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;

  display: flex;          /* add flex */
  flex-direction: column; /* align vertically */
  align-items: center;    /* center horizontally */
  justify-content: center;/* center vertically */
}

.container h1 {
  color: black;
  font-size: 1.8rem;
  margin: 10px 0;
}

button {
  background-color: rgb(137, 191, 239);
  color:rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

button:hover {
  background-color: rgb(88, 142, 160); /* Darker shade on hover */
}
.attributes {
  display: flex;
  gap:5px;

}
.attributes button {
  background-color: rgba(23, 33, 43, 0.67); /* Semi-transparent background */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.attributes button:hover {
  background-color: #333; /* Darken the button on hover */
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.sub-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.sub-container p {
  color: black;
  margin: 4px 0;
  font-size: 1rem;
}

.sub-container ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-container ul li {
  background-color: #edf2f7;
  color: #555;
  padding: 5px 10px;
  border-radius: 16px;
  margin: 4px;
  font-size: 0.85rem;
}

.banlist-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f8d7da; /* Light red background for banlist */
  
  max-width: 250px; /* Limits the width */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Subtle shadow */

  height: auto; /* Ensures height flexes with content */

 
}
